body {
    background-color: rgba(40, 12, 63, 0.986);
    transition: all;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
    font-size: 50px;
    background-position: 50px;
    border-color: azure;
}
    P {font-size: 30px; color: beige;}
titutlo1{background-color: black; border-color: azure;}
p1 {font-size: 20px; color: bisque;}
fim {font-size: 10px; color: rgba(137, 43, 226, 0.397);}